# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#vim swap file
.*.swp
.*.swo

# Compiled Dependencies
.*.d

#VC files
LocationEstimator/Debug
LocationEstimator/Release
*.suo
*.filters
*.user

#dump file
core.*
